@model IEnumerable<TestApp.Web.Models.UsersEntry>
<div ng-controller="app.views.users as vm">
    @foreach (var user in @Model)
    {
        <tr>
            <td>
                @user.name
            </td>

        </tr>
    }
        
</div>