<div ng-controller="app.views.users as vm">    
     <div>         
         <p>Hello! {{vm.time}}</p>
     </div>  
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Логин</th>
                <!--<th>Пароль>/th>-->
                <th>Почта</th>            
            </tr>
        </thead>
        <tbody >       
            
            <tr ng-repeat="user in vm.users">
                <td>
                    <a href="#" ng-click="vm.showUser(user.id)">select</a>                     
                </td> 
                <td>{{user.name}} </td>
                <td>{{user.login}}</td>
                <!--<td>{{user.password}}</td>-->
                <td>{{user.email}}</td>
            </tr>
                      
</tbody>
        
</table>
    <a href="~/App/Main/views/users/createUser/createUser.cshtml"></a>        
</div>