@model IEnumerable<TestApp.Web.Models.UsersEntry>


<div ng-controller="app.views.users as vm">    
     <div>         
         <p>Hello!</p>
     </div>  
    <table>

        <tr>
            <th>
                 Имя
            </th>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
               Почта
            </th>
            <th></th>
        </tr>
        @foreach (var user in (IEnumerable<TEST_USERS>)@TempData["Greeting"])
        {
            <tr>
                <td>
                   @user.NAME
                </td>
                <td>
                    @user.LOGIN
                </td>
                <td>
                   @user.PASSWORD
                </td>
                <td>
                    @user.EMAIL
                </td>

            </tr>
        }
    </table>
        
</div>