<div ng-controller="app.views.users as vm">
    <h1><img src="~/App/Main/images/abp-logo.png" style="padding-right: 10px;" />@string.Format(L("AboutFormat"), "ASP.NET Boilerplate")</h1>
    <p>@Html.Raw(L("About_AspNetBoilerplateDescription"))</p>
    <p>@L("ForMoreInformation"): <a href="http://www.ololo.com"><strong>ololo.com</strong></a>.</p>
    <p>123123123123123</p>

</div>
