<div ng-controller="app.views.users as vm">    
     <div>         
         <p>Hello! {{vm.time}}</p>
     </div>  
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
            <th>
                Имя
            </th>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
                Почта
            </th>            
            </tr>
        </thead>
        <tbody >
        @foreach (var user in (IEnumerable<TEST_USERS>)@TempData["Greeting"])
        {
            <tr>
                <td>
                    @user.NAME
                </td>
                <td>
                    @user.LOGIN
                </td>
                <td>
                    @user.PASSWORD
                </td>
                <td>
                    @user.EMAIL
                </td>

            </tr>
            
        }
            <tr>
                <td>
                    {{vm.users.name}}
                </td>
                <td>
                    {{vm.users.login}}
                </td>
                <td>
                    {{vm.users.password}}
                </td>
                <td>
                    {{vm.users.email}}
                </td>
            </tr>           
</tbody>
        
</table>
        
</div>