<div ng-controller="app.views.edit.user as vm">    
    <h2>Редактирование пользователя</h2>    
    <form novalidate class="simple-form">
        <p>Имя</p>
        <input ng-model="vm.user.name" {{vm.location}}/>
        <p>Логин</p>
        <input ng-model="vm.user.login" />
        <p>Пароль</p>
        <input ng-model="vm.user.password" />
        <p>Почта</p>
        <input ng-model="vm.user.email" />
        <p>
            <button ng-click="alert()">Сохранить</button>
        </p>
    </form>
    
</div>